# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual Environment
venv/
venv_*/
env/

# Docker
*.log

# Google Cloud
.gcloudignore
credentials.json

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/