name: Github_Lab1 - Python Unittests

on:
  push:
    branches:
      - main
    paths:
      - 'Github_Lab1/**'
  pull_request:
    branches:
      - main
    paths:
      - 'Github_Lab1/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        cd Github_Lab1
        pip install -r requirements.txt

    - name: Run unittests
      run: |
        cd Github_Lab1
        python -m unittest test.test_unittest

    - name: Notify on success
      if: success()
      run: echo "Unit tests passed successfully"

    - name: Notify on failure
      if: failure()
      run: echo "Unit tests failed"